.create-cards-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h3 {
    width: 120%;
    color: $secondary-color;
    border-bottom: 2px solid $primary-color;
    padding-bottom: 10px;
    margin: 1rem 0;
    text-align: center;
    font-size: 1.5rem;

    &:focus {
      outline: none;
    }
  }

  #card-description {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.05);
    // border: 1px solid #262626;
    border-radius: 2px;
    padding: 0.3rem;
    text-align: left;
    font-size: 0.9rem;
    color: $secondary-color;
    margin-bottom: 2rem;

    &:focus {
      outline: none;
    }
  }

  h4 {
    color: $secondary-color;
    margin-bottom: 0.75rem;
  }

  #add-card-form {
    width: 100%;
    position: relative;

    .form-input {
      margin: 0.3rem 0;
      padding: 6px;
      width: 100%;
      border: 1px solid #262626;
      border-radius: 2px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $secondary-color;
      }
    }

    .btn {
      margin: 1.3rem 0;
      width: 80%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .add-card-btn {
        width: 100%;
      }
    }

    .save-cards,
    .delete-cards {
      width: 2.2rem;
      height: 2.2rem;
      font-size: 1rem;
      border: none;
      border-radius: 50%;
      background-color: $success-color;
      color: $secondary-color;
      position: absolute;
      bottom: 1.1rem;
      right: 5%;
      cursor: not-allowed;

      &.modify-cards {
        right: 10%;
        cursor: pointer;
      }

      &:hover {
        opacity: 0.95;
      }

      &:focus {
        outline: none;
      }
    }

    .delete-cards {
      display: none;
      background-color: $error-color;

      &.modify-cards {
        display: inline;
        transform: translateX(3rem);
      }
    }
  }

  .list {
    list-style-type: none;
    margin-bottom: 40px;
    width: 100%;
  }

  .list li {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.48);
    color: $secondary-color;
    display: flex;
    justify-content: start;
    position: relative;
    padding: 10px 15px;
    margin: 10px 0;

    .close-btn {
      color: inherit;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px 15px;
      background-color: darken($primary-color, 10);
      cursor: pointer;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }

    .text-question {
      transform: translateY(0);
      opacity: 1;
      transition: 150ms all ease-in;
    }

    .text-answer {
      transition: 150ms all ease-in;
      position: absolute;
      transform: translateY(100%);
      opacity: 0;
    }

    &:hover {
      .text-question {
        transform: translateY(-100%);
        opacity: 0;
      }
      .text-answer {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .answer,
    .question {
      text-indent: 20px;
      color: #262626;
    }
  }
}
