.card-miniatures {
  display: flex;
  justify-content: start;
  align-items: center;

  button.prev-arrow,
  button.next-arrow {
    margin: 0 1.5rem;
    background-color: transparent;
    border: none;
    color: #262626;
    cursor: pointer;
    display: none;

    &:focus {
      outline: none;
    }

    &.disabled {
      color: lighten(#262626, 50);
      &:hover {
        opacity: 1;
        transform: scale(1);
        cursor: auto;
      }
    }

    &:hover {
      transform: scale(1.05);
      opacity: 0.95;
    }

    &.show {
      display: block;
    }
  }

  .card-miniature {
    position: relative;
    padding: 1rem;

    .face {
      width: 250px;
      height: 180px;
      transition: all 400ms ease-out;
      border-radius: 10px;

      &.face-1 {
        position: relative;
        background-color: $secondary-color;
        z-index: 1;
        transform: translateY(90px);

        .content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.6;
          transition: all 200ms ease-out;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .icon-outer {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            transition: all 300ms ease-out;

            .icon {
              width: 100%;
            }
          }

          h3 {
            margin: 10px 0 0;
            color: #ffffff;
            text-align: center;
            font-size: 1.2rem;
          }
        }
      }

      &.face-2 {
        position: relative;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
        transform: translateY(-90px);

        .author {
          position: absolute;
          top: 5%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 0.6rem;
          color: $secondary-color;

          span {
            font-style: italic;
          }
        }

        p {
          font-size: 0.9rem;
          margin: 5px 0;
        }
      }
    }

    &:hover {
      .face.face-1 {
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transform: translateY(0px);
        background-color: darken($primary-color, 20);
        .content {
          opacity: 1;

          .icon-outer {
            border: 2px solid #ffffff;
            box-shadow: none;
          }
        }
      }
    }

    &:hover {
      .face.face-2 {
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transform: translateY(0px);
      }
    }
  }

  .create-new {
    margin-left: 40px;
  }
}
