.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;

  &.show {
    display: block;
    opacity: 1;
  }

  .modal {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    max-width: 100%;
    width: 400px;
    animation-name: modal-open;
    animation-duration: $modal-duration;

    &-header {
      background-color: $primary-color;
      color: $secondary-color;
      padding: 1rem;

      .info {
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        color: darken($secondary-color, 20);
        font-size: 0.7rem;
        padding: 5px;
        margin-top: 5px;
        text-align: center;
      }
    }

    &-content {
      padding: 1.2rem;
    }

    &-form {
      div:not(.border) {
        margin: 12px 0;

        &.success {
          .form-input {
            border-color: $success-color;
          }
        }

        &.error {
          .form-input {
            border-color: $error-color;
          }
        }

        small {
          margin-top: 4px;
          color: $error-color;
          display: none;
        }
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      .form-input {
        padding: 6px;
        width: 100%;
        border: 1px solid #262626;
        border-radius: 2px;

        &:focus {
          outline: none;
        }
      }

      .modal-log-in,
      .modal-sign-up {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    }

    .modal-close {
      padding: 8px 12px;
      color: $secondary-color;
      background-color: transparent;
      font-size: 1.3rem;
      position: absolute;
      top: 0;
      right: 0;
      outline: none;
      border: 0;
      cursor: pointer;

      &:active {
        transform: scale(0.96);
      }
    }
  }
}
