$primary-color: #ddf0ff;
$secondary-color: #555;
$modal-duration: 600ms;
$success-color: #2ecc71;
$error-color: #e74c3c;

@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
